body {
    overflow: hidden;
    background: none;
}

.main_container{
    background-image: linear-gradient(blue, purple);
    margin: 0;
    padding: 0;
    border: 2px solid #ff6100;
    border-radius: 0.5rem;
    background-color:transparent
}

.text_box {
    border-radius: 5px;
    border: none;
}